@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome All!!</h1>    
    <h2 class="display-3">CI CD Jenkins pipeline workflow - Demo your are watching : Development Environment </h2>
</div>
